<table border="1">
<thead>
	<tr>
		<th>Full name</th>
		<th>Email</th>
		<th>Phone number</th>
		<th>Company</th>
		<th>Message</th>
		<th>Approve</th>
	</tr>
</thead>
<% @users.each do |user| %>
<tr>
	<td><%= user.name %></td>
	<td><%= user.email %></td>
	<td><%= user.phone %></td>
	<td><%= user.company %></td>
	<td><%= user.description %></td>
	<td><%= link_to "Profile", :controller => "admin", :action => "approve", :id => user.id %></td>
</tr>

<% end %>
</table>

