 <% content_for :head do %>
    <%= stylesheet_link_tag 'bootstrap' %>
    <%= stylesheet_link_tag 'theme' %>
    <%= stylesheet_link_tag 'index' %>
    <%= stylesheet_link_tag 'animate' %>
    <%= stylesheet_link_tag 'contact' %>
 <% end %>

   <div id="contact">
        <div class="container">
            <div class="section_header">

            </div>
	 <div class="row contact">
                <p>
		</p>
        </div>

        <div class="row map">
            <div class="container">
                <div class="span5 box_wrapp">
                    <div class="box_cont">
                        <div class="head">
                            <h6>Contact</h6>
                        </div>
                        <ul class="street">
                            <li>No. 12 D.B Zang (former Ibrahim Taiwo Rd)</li>
                            <li>City, Jos. Nigeria,</li>
                            <li>Zip Code, 234.</li>
                            <li class="icon icontop">
                                <span class="contacticos ico1"></span>
                                <span class="text">+234 703 128 5559</span>
                            </li>
                            <li class="icon">
                                <span class="contacticos ico2"></span>
                                <a class="text" href="#">info@kungiya.com</a>
                            </li>
                        </ul>

                        <div class="head headbottom">
                            <h6>Work with us</h6>
                        </div>
                        <p>We looking forward to working with people with drive and passion for innovation.</p>

                        <a href="#" class="btn">Let's get started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<div style="height:250px"></div>
