<% content_for :head do %>
<%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "theme" %>
  <%= stylesheet_link_tag    "index" %>
  <%= stylesheet_link_tag    "animate" %>
 	<%= stylesheet_link_tag 'getstarted' %>
 <% end %>

  <div id="contact">
        <div class="container">
            <div class="section_header">
                <h3>Get started</h3>
            </div>
            <div class="row contact">
                <p>
                    You no longer have to decide between cumbersome, million-naira banking software infastructures or risk your business on cheap, outdated second-rate systems.<br />
                    <b>Complete the form and we will contact you within 24 hours to show you what you're missing</b>.
                </p>

                <%= form_for :user do |f| %>
                    <div class="row form">
                        <div class="span6 box">
                            <%= f.text_field :name, :placeholder=>"Name", :class=>"name" %>
                            <%= f.text_field :email,  :placeholder=>"Email", :class=>"mail" %>
                            <%= f.text_field :phone,  :placeholder=>"Phone", :class=>"phone" %>
                            <%= f.text_field :company, :placeholder=>"Company", :class=>"company" %>
                        </div>
                        <div class="span6 box box_r">
                            <%= f.text_area :description,  :placeholder=>"How can Kungiya Best help you" %>

                        </div>
                    </div>

                    <div class="row submit">
                         <div class="span8 right">
                        		<%= submit_tag "Show Me Kungiya" %>
                        </div>
                    </div>
                <% end %>



            </div>
        </div>

