 <% content_for :head do %>
 	<%= stylesheet_link_tag 'bootstrap.min' %>
  	<%= stylesheet_link_tag 'bootstrap-responsive.min' %>
   	<%= stylesheet_link_tag 'bootstrap-overrides' %>
  	<%= stylesheet_link_tag 'theme' %>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  	<%= stylesheet_link_tag 'animate' %>
    <%= stylesheet_link_tag 'about' %>
   	<%= stylesheet_link_tag 'flexslider' %>
 <% end %>

     <div id="aboutus">
        <div class="container">
            <div class="section_header">
                <h3>About Us</h3>
            </div>
            <div class="row">
                <div class="span6 intro">
                    <h6>Nignux Technologies Ltd is a registered ICT firm in Nigeria.
.</h6>
                    <p>
                       We provide a high quality professional consultancy and procurement services backed up
with a wide range of IT spectrum of experience, such as Software Development, Web
Design, Hosting & Management, E-Commerce applications, and Multimedia services,
Networking, professional Training and Consultancy.

                        <br /><br />
                        We have worked in various projects, for both governmental and non-governmental
organizations.
                        .</p>
                </div>
                <div class="span6 flexslider">
                      <ul class="slides">
                        <li>
                           <%= image_tag("normal.jpg") %>
                        </li>
                        <li>
                           <%= image_tag("grey.jpg") %>
                         </li>
                        <li>
                           <%= image_tag("about_slide1.jpg") %>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="team">
        <div class="container">
            <div class="section_header">
                <h3>Meet our Team</h3>
            </div>

            <div class="row people">
                <div class="row row1">
                    <div class="span6 bio_box">
                            <%= image_tag("lead.png") %>
                        <div class="info">
                            <p class="name">Daser David</p>
                            <p class="area">Lead Developer</p>
                            <a href="http://facebook.com/dasersoft" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href="http://twitter.com/dasersoft" class="twitter">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                            <a href="#" class="flickr">
                                <span class="socialicons ico4"></span>
                                <span class="socialicons_h ico4h"></span>
                            </a>
                            <a href="#" class="dribble">
                                <span class="socialicons ico6"></span>
                                <span class="socialicons_h ico6h"></span>
                            </a>
                        </div>
                    </div>

                    <div class="span6 bio_box bio_boxr">
                            <%= image_tag("retnan.png") %>
                        <div class="info">
                            <p class="name">Retnan Daser</p>
                            <p class="area">Software Developer</p>
                            <a href="http://facebook.com/retnandaser" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href="#" class="twitter">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                            <a href="#" class="flickr">
                                <span class="socialicons ico4"></span>
                                <span class="socialicons_h ico4h"></span>
                            </a>
                            <a href="#" class="dribble">
                                <span class="socialicons ico6"></span>
                                <span class="socialicons_h ico6h"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row row1">
                    <div class="span6 bio_box">
                            <%= image_tag("regina.png") %>
                        <div class="info">
                            <p class="name">Regina Ronku</p>
                            <p class="area">Media Developer</p>
                            <a href="http://facebook.com/Regyna101" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href="#" class="twitter">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                            <a href="#" class="flickr">
                                <span class="socialicons ico4"></span>
                                <span class="socialicons_h ico4h"></span>
                            </a>
                            <a href="#" class="dribble">
                                <span class="socialicons ico6"></span>
                                <span class="socialicons_h ico6h"></span>
                            </a>
                        </div>
                    </div>

                    <div class="span6 bio_box bio_boxr">
                            <%= image_tag("gideon.png") %>
                        <div class="info">
                            <p class="name">Gideon Yakubu</p>
                            <p class="area">UX/UI Designer</p>
                            <a href="http://facebook.com/gideon.king.75" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href="#" class="twitter">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                            <a href="#" class="flickr">
                                <span class="socialicons ico4"></span>
                                <span class="socialicons_h ico4h"></span>
                            </a>
                            <a href="#" class="dribble">
                                <span class="socialicons ico6"></span>
                                <span class="socialicons_h ico6h"></span>
                            </a>
                        </div>
                    </div>
                </div>

                                <div class="row row1">
                    <div class="span6 bio_box">
                            <%= image_tag("victor.png") %>
                        <div class="info">
                            <p class="name">Victor Richard</p>
                            <p class="area">Creative Designer</p>
                            <a href="http://facebook.com/victor.richard.984" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href="#" class="twitter">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                            <a href="#" class="flickr">
                                <span class="socialicons ico4"></span>
                                <span class="socialicons_h ico4h"></span>
                            </a>
                            <a href="#" class="dribble">
                                <span class="socialicons ico6"></span>
                                <span class="socialicons_h ico6h"></span>
                            </a>
                        </div>
                    </div>

                    <div class="span6 bio_box bio_boxr">
                            <%= image_tag("evelyn.png") %>
                        <div class="info">
                            <p class="name">Evelyn Okammor</p>
                            <p class="area">Media Developer</p>
                            <a href="http://facebook.com/evelyn.okammor" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href="#" class="twitter">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                            <a href="#" class="flickr">
                                <span class="socialicons ico4"></span>
                                <span class="socialicons_h ico4h"></span>
                            </a>
                            <a href="#" class="dribble">
                                <span class="socialicons ico6"></span>
                                <span class="socialicons_h ico6h"></span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="process">
        <div class="container">
            <div class="section_header">
                <h3>Our Process</h3>
            </div>
            <div class="row services_circles">
                <div class="span4 description">
                    <div class="text active">
                        <h4>Plan what you need.</h4>
                        <p>
                            There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to making this the first true generator  Internet.</p>
                    </div>
                    <div class="text">
                        <h4>Develop your product or service.</h4>
                        <p>
                            There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to 
                            making this the first true generator  Internet.</p>
                    </div>
                    <div class="text">
                        <h4>Design this theme to your needs.</h4>
                        <p>
                            There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to making this the first true generator  Internet.</p>
                    </div>
                </div>

                <div class="span7 areas">
                    <div class="circle active">
                        <%= image_tag("plan.png") %>
                        <span>Plan</span>
                    </div>
                    <div class="circle">
                        <%= image_tag("develop.png") %>
                        <span>Develop</span>
                    </div>
                    <div class="circle last_circle">
                        <%= image_tag("design.png") %>
                        <span>Design</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

 <% content_for :bottom do %>
    <%= javascript_include_tag "flexslider.js" %>
 <% end %>